<web-app>

   <display-name>task manager application</display-name>
   
   <servlet>
        <servlet-name>tm</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>tm</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
</web-app>